@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model (string x,string y)


<p> Hosgeldin kardeşimmmmmm</p>
<a asp-action="Gecis" asp-controller="Home" asp-route-x="product" asp-route-y="Giris">LINKE GIDINIZ</a> bu ifade querystring oluşturuyor x ve y tipinde çünkü route defaultta 
action ver controllerden sonra da benim id querystringim geliyor.

