@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model (KullaniciAdiSif.Controllers.Product.ProductController.ModelBinding bng, KullaniciAdiSif.Controllers.Product.ProductController.Kontrol kntrl)
<form asp-action="Giris" asp-controller="Product" method="post">

    <input  type="text" name="txt_Name" placeholder="Kullanici Adi Giriniz"/>
    <br />
    <input  type="text" name="txt_sif" placeholder="Sifre Giriniz"/>
    <br />
    <button>Gönder</button>
</form>


<form asp-action="KontrolGiris" asp-controller="Product" method="post">

    <input  type="text" name="kntrl_id"/>
    <br />
    <input  type="text" name="kntrl_sif"/>
    <br />
    <button>Gonder</button>
</form>